* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: #fff;
}

h1, h2, h3, h4, h5, p, a, label, input, small {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: #DDDDDD;
}

input[type=text]::-ms-clear {
    display: none; width : 0; height: 0;
}
input[type=text]::-ms-reveal {
    display: none; width : 0; height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

li {
    list-style: none;
}

.col-1-4 {
    width: 15%
}

.col-2-4 {
    width: 50%
}

.col-3-4 {
    width: 75%
}

.col-4-4 {
    width: 100%
}

.mt-1
{
    margin-top: 5px;
}

.container aside {
    position: fixed;
}

.header-main {
    float: right;
}

.fl-right {
    float: right;
}

/*-----logo-----*/

.logo {
    margin: 30px 20px 40px 0;
    display: flex;
    align-items: center;
}

.logo img{
    max-width: 55px;
    height: auto;
    margin-right: 15px;
    border-radius: 50%;
    background-attachment: fixed;
}

.logo h3{
    font-family: 'Fredoka', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
}

.logo p {
    font-size: 16px;
    color: #fff;
}

/*---------------------*/


/*------------------------index----------------------*/

.container {
    max-width: 1850px;
    margin: 0 auto;
    display: flex;
}

/*left menu*/

.left-menu {
    /*width: 360px;*/
    height: auto;
}

.menu {
    width: 170px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
}

.categories {
    width: 300px;
    margin-top: 30px;


}

.categories a {
    color: #DDDDDD;
}

.categories a:hover {
    color: #FFFFFF;
}

.categories ul {
    width: 200px;
}

.categories label{

    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}

.ul-category {
    margin-top: 20px;
}

.categ-row {
    width: 300px;
}

.categ-row a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.categ-row img{
    width: 32px;
    margin: 0 20px 0 0;
}

.categ-row a p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    font-family: "Roboto",sans-serif;
}

.categories nav li{
    display: inline-block;
    vertical-align: top;
}
/*.popular-categories nav a{*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    border: 1px solid transparent;*/
/*    transition: 0.3s;*/
/*}*/
.categories nav a:hover{
    /*border: 1px solid #fff;*/
}

.categories input[type="checkbox"] {
    display: none;
}

.active:after {
    margin-left: 20px;
    content: "•";
    font-family: Roboto;
    font-size: 28px;
    color: #3492C8;
    vertical-align: middle;
}

.footer-left-menu {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.site-information p {
    margin-bottom: 10px;
}

.site-information a{
    color: #3492C8;
}

.text-post-image a {
    color: #3492C8;
}

.site-information a:hover{
    color: rgba(52, 146, 200, 0.8);
}

.messenger {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.messenger img {
    width: 40px;
    vertical-align: top;
}

/*---*/

.languages {
    display: flex;
    justify-content: center;
    margin: 20px 20px auto;
}

.languages a{
    font-size: 24px;
}

.languages p{
    font-size: 24px;
}

/*header*/

.header-main {
    width: 1500px;
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    /*width: 380px;*/
    align-items: center;
    margin-top: 23px;
    margin-bottom: auto;
}

.search-input {
    display: flex;
    width: 1120px;
    margin-top: 30px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.search-input [type=search] {
    width: 100%;
    height: 55px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2b2b2b;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}

.grid
{
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
}

.grid a
{
    margin: 2px;
}

.tags {
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 1500px;
}

.tags a {
    margin: 2px;
}

.user-image-search-input {
    width: 150px;
    margin-left: 10px;
}

.user-image-search-input [type=submit] {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: #3492C8;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
}

.user-image-search-input [type=submit]:hover {
    background-color: #196FA0;
    transition: .5s;
}



.form-search {
    position: relative;
    width: 100%;
}

.form-search [type=submit] {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
}

.language {
    width: 120px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.lang-stick {
    margin: 0 10px 0 10px;
}

.profile {
    width: 255px;
    display: flex;
    align-items: center;
}

.profile img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

.profile p {
    font-size: 24px;
    width: 200px;
    display: flex;
    font-family: "Roboto",sans-serif;
}

.dropdown-profile-user-name {
    display: flex;
    align-items: center;
    height: 70px;
}

.dropdown-profile {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: .5s;
    width: 255px;
}

.dropdown-profile-content {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    border: 1px solid #3492C8;
    z-index: 99999;
    width: 100%;
    text-align: center;
}

.dropdown-profile-content li {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .3s;
}

.dropdown-profile-content li:hover {
    background-color: #3492C8;
    transition: .5s;
}

.dropdown-profile:hover .dropdown-profile-content {
    display: block;
    transition: .5s;
}

.border-top li {
    border-top: 1px solid #3492C8;
}

/*#dropdown ul.sub-nav {*/
/*    display: none;*/
/*}*/

/*#dropdown ul.visible {*/
/*    display: block;*/
/*}*/

/*------*/

/*----img----*/

.images {
    width: 1500px;
}

.user-images-panel {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.user-images-panel a {
    color: #fff;
    font-size: 20px;
    margin-right: 50px;
}

.user-images-search {
    display: flex;
    align-items: center;
}

.user-images-search p {
    font-size: 20px;
    width: 140px;
}

.user-images-search select {
    background-color: #1e1e1e;
    color: #3492C8;
    border: none;
    font-size: 16px;
}

.actual-tags-block p {
    font-size: 20px;
    margin-bottom: 15px;
}

.user-image-name-collection {
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-image-name-collection h3 {
    font-size: 26px;
    text-align: center;
}

.user-img-search-sort {
    display: flex;
}

.user-img-search-sort select {
    outline: none;
    border: none;
    cursor: pointer;
}

.row-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 202px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 1500px;
}

.row-img nav {
    display: none;
}

.hover-image {
    position: relative;
    width: 360px;
    height: 202px;
}

.hover-image a{
    color: #FFFFFF;;
}

.hover-image img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.info {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    font-size: 36px;
    background-color: #0000009e;
    transition: 0.7s;
    z-index: 5;
}

.info p {
    text-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.active-hover-image {
    background-color: #d9d9d9;
    opacity: 1;
}

.info-profile img {
    width: 26px;
}

.info-profile h4 {
    font-size: 16px;
}

.info:hover  {
    opacity: 1;
    transition: 0.5s;
}

.info-profile a{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #fff;
}

.info-profile img {
    border-radius: 50%;
    margin-right: 10px;
    /*    Сделать под мобилку, а так норм*/
}

.user-setting-img {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.user-setting-img img {
    width: 25px;
}

.input-setting {
    margin-right: 15px;
}

.item-icons {
    position: absolute;
    top: 10px;
    left: 15px;
}

.advertisement {
    background-color: #d9d9d9;
    width: 900px;
    height: 300px;
    margin: 15px auto;
    content: "asd";
}

.advertisement p {
    position: absolute;
    text-align: center;
    color: #000;
    font-size: 24px;
    padding-top: 50px;

}

.advertisement img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
    z-index: 99999;
}


/*-----------*/

/*---------------------------------------------------*/

/*----Login----*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*.back-img-left {*/
/*    background: url("/assets/images/bglogin.png") no-repeat;*/
/*    !*width: 100%;*!*/
/*    width: 35%;*/
/*    !*height: 955px;*!*/
/*    !*height: 100%;*!*/
/*    height: 100vh;*/
/*    overflow: hidden;*/
/*    background-size: cover;*/
/*    object-fit: cover;*/
/*    object-position: bottom;*/
/*    background-attachment: fixed;*/
/*}*/

.container-login {
    display: flex;
}

.back-img {

    /*position: fixed;*/
}

.container-login>img {
    width: 35%;
    object-fit: cover;
    object-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

.contant-login {
    position: relative;
    width: 50%;
}
.contant-login:before {
    content: "";
    display: block;
}

.main-login {
    /*top: 40px;*/
    left: 35px;
    position: absolute;
    background-attachment: fixed;
}

.main-login a {
    color: #DDDDDD;
}

.main-login a:hover{
    color: #fff;
}

/*.mes-footer {*/
/*    max-width: 350px;*/
/*}*/

/*.mes-footer img {*/
/*    width: 50px;*/
/*    vertical-align: top;*/
/*    margin: 5px;*/
/*}*/

/*input text form*/

.form-login {
    width: 100%;
    padding-right: 25px;
}

.login-form {
    display: flex;
    align-items: center;
    margin-left: 20px;
    /*margin-bottom: 150px;*/
    width: 925px;
    min-width: 10%;
    min-height: 100%;
}

.login-form-input {
    width: 100%;
    min-width: 10%;
    margin-bottom: 20px;
}

.row {
    /*max-width: 925px;*/
    margin-bottom: 20px;
}

.row label {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    margin-bottom: 5px;
    display: flex;
    min-width: 100px;
}

.row input {
    width: 100%;
    min-width: 10%;
    height: 55px;
    border-radius: 10px;
    padding: 15px;
    outline: none;
    border: none;
    background-color: #2b2b2b;
    color: #fff;
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
}

/*.row input:invalid {*/
/*    border: 1px solid #f05454;*/
/*}*/

.row input:focus {
    border: 1px solid #3492C8;
}

.error-text {
    color: #f05454;
    font-size: 18px;
}

.error-input:invalid {
    border: 1px solid #f05454;
}

.mar-left-10 {
    margin-left: 10px;
}

.row-checkbox {
    display: flex;
    align-items: center;
}

.row-checkbox input {
    border: 0;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #2b2b2b;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 0.5em;
    background: #2B2B2B no-repeat center center;
    background-size: 50% 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.checkbox:checked+label::before {
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 14'%3e%3cpath fill='white' d='M6.1136 13.725L0.263593 7.62349C-0.0878643 7.25692 -0.0878643 6.66256 0.263593 6.29596L1.53636 4.96843C1.88781 4.60182 2.4577 4.60182 2.80915 4.96843L6.75 9.07869L15.1908 0.274927C15.5423 -0.0916425 16.1122 -0.0916425 16.4636 0.274927L17.7364 1.60246C18.0879 1.96903 18.0879 2.56338 17.7364 2.92998L7.3864 13.7251C7.0349 14.0916 6.46506 14.0916 6.1136 13.725Z'/%3e%3c/svg%3e");
}

/*input submit form*/

.row-input-submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 925px;
    margin-bottom: 20px;
}

.row-input-submit-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 925px;
}

.auth-input {
    display: flex;
    width: 270px;
}

.auth-input input {
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 20px;
    background-color: #2b2b2b;
    border: 1px solid #3492c8;
    outline: none;
    border-radius: 10px;
    transition: .5s;
    margin: 10px 10px 10px 10px;
}

.auth-input input:hover {
    background-color: #3492c8;
    transition: .7s;
    cursor: pointer;
}


.auth-or-registr {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    justify-content: center;
    text-align: center;
}

.auth-or-registr a{
    display: flex;
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 20px;
    background-color: #2b2b2b;
    border: 1px solid #3492c8;
    outline: none;
    border-radius: 10px;
    transition: .5s;
    margin: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
}

.auth-or-registr a:hover {
    background-color: #3492c8;
    transition: .7s;
}

.reset-password {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    justify-content: center;
    text-align: center;
}

.reset-password a
{
    display: flex;
    height: 60px;
    color: #fff;
    font-size: 20px;
    background-color: #2b2b2b;
    border: 1px solid #3492c8;
    outline: none;
    border-radius: 10px;
    transition: .5s;
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: center;
}

.reset-password a
{
    width: 100%;
}

.reset-password a:hover {
    background-color: #3492c8;
    transition: .7s;
}

.heading {
    font-style: normal;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 35px;
}

.h2-single-text {
    margin-top: 20px;
    margin-bottom: 70px;
    text-align: center;
    font-size: 32px;
}

.h2-your-images-text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 32px;
}

/*----single---*/

.more-info-hover-image {
    width: 1500px;
    display: flex;
    margin-bottom: 20px;

}

.more-info-left-block-img {
    width: 760px;
    height: 425px;
    margin-right: 20px;
}

.more-info-left-block-img img{
    width: 100%;
    height: 425px;
    vertical-align: bottom;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.more-info-right-block-img {
    width: 700px;
}

.more-info-right-block-text {
    font-size: 16px;
    margin-bottom: 16px;
}

.more-category-post {
    display: flex;
    margin-bottom: 40px;

}

.more-category-post-left {
    width: 350px;
    flex-wrap: wrap;
}

.more-category-post-right {
    display: flex;
    flex-wrap: wrap;
}

.user-profile-text p {
    width: 655px;
}

.post-category-row {
    display: flex;
    align-items: center;
    width: 150px;
    /*margin-bottom: 15px;*/
    height: 30px;
}

.post-category-row img {
    width: 21px;
    margin: 0px 5px 0 0px;
}

.post-category-row p {
    font-size: 16px;
    font-style: normal;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    line-height: 28px;
}

.post-category-row a {
    color: #3492C8;
    transition: .2s;
}

.post-category-row a:hover {
    color: #307BA6;
    transition: .2s;
}

.post-category-num {
    margin-left: 15px;
}

.author-post-image {
    margin-bottom: 45px;
}

.user-profile-link {
    color: #3492C8;
    transition: .2s;
}

.user-profile-link:hover {
    color: #307BA6;
    transition: .2s;
}

.submit-post-image {
    width: 720px;
}

.submit-post-image input{
    height: 45px;
}

.submit-post-image p{
    font-size: 16px;
    margin-top: 15px;
}

.submit-post-input {
    display: flex;
    justify-content: space-between;
}

.submit-post-input-left {
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.input-download {
    width: 210px;
    background-color: #3492C8;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.input-download:hover {
    background-color: rgba(52, 146, 200, 0.8);
    transition: .3s;
}

.input-like {
    width: 75px;
    background-color: #3492C8;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.input-like:hover {
    background-color: rgba(52, 146, 200, 0.8);
    transition: .3s;
}

.input-add_collection {
    width: 260px;
    background-color: #3492C8;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    transition: .3s;
    color: #fff;
}

.input-add_collection:hover {
    background-color: rgba(52, 146, 200, 0.8);
    transition: .3s;
}

.input-star {
    width: 75px;
    height: 45px;
    background-color: #3492C8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
}

.input-star:hover {
    background-color: rgba(52, 146, 200, 0.8);
    transition: .3s;
}

.star-icon {
    fill: white;
}

.submit-post-input-right {
    display: flex;
    align-items: center;
    width: 350px;
    justify-content: space-between;
}


.text-post-image {
    display: flex;
    justify-content: space-between;
}

.rule-link {
    color: #3492C8;
    text-align: center;
}

.rule-link:hover {
    color: #3492C8;
}

/*-------------*/

/*Кнопки вверх/вниз*/
.scroll_top {
    width: 40px;
    height: 40px;
    position: absolute;
}

#scroll_top {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    width: 40px;
    height: 40px;
    background: url("/assets/images/icons/up-arrow.png") 50% 50% no-repeat;
    border-radius: 50%;
    border: 1px solid #3492C8;
    background-color: #3492C8;
    transition: .5s;
}

#scroll_top:hover {
    transform: scale(1.3);
    transition: .7s;
}

i.icon-down-open-big:after {
    content: ' down'
}

i.icon-up-open-big:after {
    content: ' up'
}
/*-----------------*/

/*Политика конфиденциальности*/

.privacy-policy-block {
    width: 1500px;
}

.privacy-policy {
    width: 1200px;
    margin: 0 auto;
    /*color: #000;*/
    /*background-color: #fff;*/
    /*padding: 20px;*/
}

.privacy-policy-points {
    margin-bottom: 50px;
}

.privacy-policy-points p {
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    line-height: 22px;
}

.points-p {
    margin-bottom: 25px;
}

.points-p p {
    margin-bottom: 5px;
}

.h1-policy {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.p-policy {
    margin-bottom: 45px;
}

.h2-policy {
    text-align: center;
    margin-bottom: 15px;
}

.h3-policy {
    margin-bottom: 35px;
}

/*---------------------------*/

/*О нас*/

.about-us-block {
    width: 1500px;
}

.h1-about-us {
    margin-top: 20px;
    text-align: center;
}

/*-----*/

/*Обратная связь*/

.feedback-block {
    width: 1500px;
    margin: 0 auto;
}

.h1-feedback {
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.feedback-form-block {
    display: flex;
    justify-content: center;
}

.feedback-row {
    width: 740px;
    margin-bottom: 30px;
}

.feedback-row input {
    width: 740px;
    height: 40px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    outline: none;
    background-color: #2B2B2B;
    color: #fff;
    font-size: 16px;
    margin-bottom: 2px;
    border: 1px solid #2B2B2B;
}

.feedback-row input:focus {
    border: 1px solid #3492C8;
}

.feedback-row textarea {
    max-width: 740px;
    min-width: 740px;
    max-height: 180px;
    min-height: 180px;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border: 1px solid #2B2B2B;
    outline: none;
    background-color: #2B2B2B;
    color: #fff;
    font-size: 16px;
    margin-bottom: 2px;
}

.feedback-row textarea:focus {
    border: 1px solid #3492C8;
}

.feedback-row label {
    display: flex;
    margin-bottom: 5px;
}

.feedback-row small {
    padding: 5px;
    font-size: 14px;
}

.feedback-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.feedback-input input[type="submit"]{
    width: 290px;
    height: 50px;
    color: #fff;
    background-color: #2b2b2b;
    border-radius: 10px;
    border: 1px solid #3492C8;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.feedback-input input[type="submit"]:hover {
    background-color: #3492C8;
    transition: .5s;
}

/*--------------*/

/*Создание изображения*/

.h1-create-image {
    margin-top: 20px;
    text-align: center;
}

.create-image-block {
    width: 1500px;
}

.block-image-input-select {
    width: 740px;
}

.block-image-input-select input {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: #2B2B2B;
    color: #fff;
    border: none;
    padding: 0px 15px 0px 15px;
    font-size: 16px;
    outline: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*.block-image-input-select input:invalid {*/
/*    border: 1px solid #f05454;*/
/*}*/

.block-image-input-select input:focus {
    border: 1px solid #3492C8;
}

.block-image-input-select select {
    display: flex;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: #2B2B2B;
    color: #fff;
    border: none;
    padding: 0px 15px 0px 15px;
    font-size: 16px;
    outline: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*.block-image-input-select select:invalid {*/
/*    border: 1px solid #f05454;*/
/*}*/

.block-image-input-select select:focus {
    border: 1px solid #3492C8;
}

.block-image-input-select textarea {
    display: flex;
    min-width: 100%;
    max-width: 740px;
    max-height: 175px;
    min-height: 175px;
    border-radius: 10px;
    background: #2B2B2B;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px 15px 10px 15px;
    outline: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

/*.block-image-input-select textarea:invalid {*/
/*    border: 1px solid #f05454;*/
/*}*/

.block-image-input-select textarea:focus {
    border: 1px solid #3492C8;
}

.block-image-checkbox {
    width: 740px;
    margin-top: 25px;
}

.block-image-checkbox-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.block-image-checkbox-input>input {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.block-image-input-select label {
    font-size: 20px;
}

.block-image-input-select small {
    padding: 5px;
    font-size: 14px;
}

.row-create-image {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
}

.row-add-create-image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.add-image-block {
    width: 355px;
}

.block-image-input-submit {
    margin-top: 100px;
    margin-bottom: 50px;
}

.block-image-input-submit input {
    width: 290px;
    height: 65px;
    border-radius: 10px;
    background-color: #3492C8;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: .5s;
}

.block-image-input-submit input:hover {
    background-color: #196FA0;
    transition: .5s;
}

.add-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.add-images img {
    width: 170px;
    margin-bottom: 10px;
}

.add-hover-image {
    position: relative;
}

.user-setting-image {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.user-setting-image img {
    width: 20px;
    transition: .3s;
}

.user-setting-image img:hover {
    transform: scale(1.2);
    transition: .3s;
}

.add-image-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.add-image-text p {
    font-size: 20px;
}

.add-image-text a {
    color: #3492C8;
    font-size: 20px;
}


/*--------------------*/


/*Модальное окно*/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    display: none;
    pointer-events: none;
}

.modalDialog small {
    font-size: 16px;
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 670px;
    height: 405px;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    background: #1e1e1e;

}

.close {
    color: #FFFFFF;
    position: absolute;
    right: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    top: 15px;
    text-decoration: none;
    /*border: 1px solid #3492C8;*/
    font-size: 24px;
    stroke: #fff;
}

.h2-collection {
    margin-bottom: 40px;
}

.collection-row {
    margin-bottom: 25px;
}

.collection-row label {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
}

.collection-row input {
    width: 630px;
    height: 40px;
    border-radius: 10px;
    background-color: #2B2B2B;
    border: 1px solid #3492C8;
    color: #fff;
    padding: 10px;
    outline: none;
    font-size: 14px;
}

.collection-row select {
    width: 630px;
    height: 40px;
    border-radius: 10px;
    background-color: #2B2B2B;
    border: 1px solid #3492C8;
    color: #fff;
    padding: 10px;
    outline: none;
    font-size: 14px;
}

.input-select button {
    position: absolute;
    width: 75px;
    height: 45px;
    right: 25px;
    bottom: 15px;
    border-radius: 10px;
    background-color: #2B2B2B;
    border: 1px solid #3492C8;
    transition: .3s;
    color: #fff;
    cursor: pointer;
}

.input-select button:hover {
    background-color: #3492C8;
    transition: .5s;
}

/*--------------*/

/*Status code*/

.status-code-block {
    display: flex;
    flex-wrap: wrap;
    width: 1120px;
    margin: 0 auto;
    justify-content: center;
}

.status-code-block img {
    width: 1120px;
    margin-bottom: 50px;
}

.status-code-block a {
    color: #3492C8;
}

.status-code-block a:hover {
    border-bottom: 1px solid #3492C8;
}

.text-status-code {
    text-align: center;
    font-size: 32px;
}

/*-----------*/

/*All categories*/

.all-categories-block {
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(4, 360px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.category {
    display: flex;
    align-items: center;
    width: 360px;
}

.category img {
    width: 120px;
    border-radius: 50%;
}

.category h3 {
    font-size: 20px;
}

.category p {
    font-size: 16px;
}

.category-info-block {
    margin-left: 20px;
    word-break: break-all;
}

.category-info-block h3 {
    margin-bottom: 5px;
}

.category-info-block p {
    max-width: 225px;
    display: flex;
    flex-wrap: wrap;
}

.category-text {
    width: 225px;
}

/*--------------*/

/*site rules*/

.site-rules-block {
    width: 1500px;
}

.h1-site-rules {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

/*----------*/

/*slider*/

.slider__items {
    counter-reset: slide;
}

.slider__item {
    counter-increment: slide;
}

.slider__item>div::before {
    content: counter(slide);
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    font-style: italic;
    font-size: 32px;
    font-weight: bold;
}

/*------*/

@media screen and (max-width: 1850px) {
    .container {
        justify-content: center;
    }

    .images {
        width: 1120px;
    }

    .more-info-hover-image {
        width: 1120px;
        flex-wrap: wrap;
        justify-content: center;
    }



    .more-info-left-block-img {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .more-info-right-block-img {
        width: 760px;
    }

    .submit-post-image {
        justify-content: center;
        width: 760px;
    }

    .privacy-policy {
        margin: 0;
    }

    .all-categories-block {
        grid-template-columns: repeat(3, 360px);
    }

    .scroll_top {
        width: 100%;
        height: 50px;
    }

    .content {
        width: 1120px;
    }

    .row-create-image {
        width: 1120px;
    }

    .block-image-input-select {
        width: 550px;
    }

    .create-image-block {
        width: 1120px;
    }

    .logo {
        margin-right: 0px;
    }

    .container aside {
        position: relative;
    }

    .header-main {
        float: none;
        width: 1120px;
    }

    .fl-right {
        float: none;
    }

    .menu {
        position: initial;
        justify-content: center;
    }

    .header-right {
        display: flex;
        width: 380px;
        align-items: center;
    }

    .column {
        margin-bottom: 25px;
    }

    .row-img {
        grid-template-columns: repeat(3, 1fr);
        width: 1120px;
    }

    .search-input {
        width: 740px;
    }

    .categories {
        margin-bottom: 20px;
        margin-left: 0px;
        /*text-align: center;*/
    }
}

@media screen and (max-width: 1635px) {
    .privacy-policy-block {
        width: 1120px;
    }

    .privacy-policy {
        width: 1120px;
    }
}


@media screen and (max-height: 920px) {

    .categories>nav {
        margin-bottom: 20px;
    }

    .dropdown-label:after {
        margin-left: 10px;
        content: url("/files/icons/chevron-down.svg");
        color: #fff;
    }

    .categories nav label {
        cursor: pointer;
    }

    .categories nav label{
        display: inline-block;
    }

    .categories nav > ul {
        display: none;
    }

    input[type="checkbox"]:checked ~ label + ul {
        display: block;
    }
}

@media screen and (max-width: 1480px) {
    .container {
        justify-content: center;
    }

    .images {
        width: 740px;
    }

    .submit-post-image {
        justify-content: normal;
        width: 740px;
    }

    .more-info-left-block-img {
        height: 100%;
    }

    .more-info-right-block-img {
        width: 740px;
    }

    .more-info-hover-image {
        width: 740px;
    }

    .advertisement {
        width: 100%;
    }

    .all-categories-block {
        grid-template-columns: repeat(2, 360px);
    }

    .privacy-policy-block {
        width: 740px;
    }

    .privacy-policy {
        width: 740px;
    }

    .block-image-input-select small {
        font-size: 12px;
    }

    .content {
        width: 740px;
    }

    .row-img {
        grid-template-columns: repeat(2, 1fr);
        width: 740px;
    }

    .search-input {
        width: 360px;
    }

    .row-create-image {
        width: 740px;
    }

    .block-image-input-select {
        width: 360px;
    }

    .create-image-block {
        width: 740px;
    }

    .block-image-checkbox {
        width: 360px;
    }

    .block-image-checkbox label {
        font-size: 20px;

    }
}

@media screen and (max-width: 1510px) {
    .container {
        justify-content: center;
    }

    .images {
        width: 740px;
    }

    .header-main {
        width: 740px;
    }

    .header-right {
        display: flex;
        width: 380px;
        align-items: center;
    }

    .user-images-panel a {
        color: #fff;
        font-size: 20px;
        margin-right: 40px;
    }

    .user-images-search select {
        margin-right: 20px;
    }

    .feedback-block {
        width: 1120px;
    }
}

@media screen and (max-width: 1200px) {
    .container-login {
        display: flex;
        justify-content: center;
    }

    .container-login>img {
        width: 0;
        height: 100vh;
    }

    .main-login {
        position: relative;
        margin-bottom: 100px;
    }

    .login-form {
        align-items: start;
    }
}

@media screen and (max-width: 1105px) {
    .container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .tags {
        width: 740px;
    }

    .search-input {
        width: 360px;
    }

    .header-main {
        width: 740px;
    }

    .header-right {
        /*margin-bottom: 15px;*/
    }

    .header-right {
        width: 380px;
        display: flex;
        align-items: center;
    }

    .images {
        width: 740px;
    }

    .user-images-panel {
        display: grid;
    }

    .user-images-search {
        display: grid;
    }

    .user-images-panel {
        width: 740px;
    }

    .user-images-panel a {
        margin-bottom: 20px;
        margin-right: 0;
    }

    .user-img-search-sort {
        margin-bottom: 20px;
    }

    .feedback-block {
        width: 740px;
    }

    #dropdown ul.sub-nav {
        display: none;
    }

    #dropdown ul.visible {
        display: block;
    }

    .dropdown-profile:hover .dropdown-profile-content {
        display: none;
    }

    .categories {
        margin-bottom: 20px;
        margin-left: 0px;
        /*text-align: center;*/
        display: flex;
        width: 500px;
        justify-content: space-between;
        text-align: center;
    }

    .footer-left-menu {
        display: none;
    }

    .categories>nav {
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    .categ-row {
        width: 250px;
    }

    .dropdown-label:after {
        margin-left: 10px;
        content: url("/files/icons/chevron-down.svg");
        color: #fff;
    }

    .categories nav label {
        cursor: pointer;
    }

    .categories nav label{
        display: inline-block;
    }

    .categories nav > ul {
        display: none;
    }

    input[type="checkbox"]:checked ~ label + ul {
        display: block;
        text-align: center;
    }

    .left-menu {
        width: 500px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 750px) {
    .container {
        width: 360px;
        justify-content: center;
    }

    .advertisement {
        height: 202px;
    }

    .more-info-left-block-img img {
        width: 360px;
        height: 202px;
    }

    .user-profile-text p {
        width: 295px;
        font-size: 16px;
    }

    .more-category-post-right {
        margin-top: 16px;
    }

    .slider {
        width: 360px;
        height: 100%;
    }

    .modalDialog > div {
        width: 360px;
        height: 450px;
    }

    .collection-row label {
        font-size: 18px;
    }

    .collection-row input {
        width: 320px;
    }

    .collection-row select {
        width: 320px;
    }

    .advertisement {
        width: 100%;
    }

    .more-info-hover-image {
        width: 360px;
    }

    .more-info-left-block-img {
        width: 360px;
        height: 100%;
    }

    .more-info-right-block-img {
        width: 360px;
    }

    .more-category-post {
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .submit-post-image {
        width: 360px;
        height: 185px;
    }

    .submit-post-image p {
        text-align: center;
    }

    .submit-post-input {
        flex-wrap: wrap;
    }

    .submit-post-input-left {
        width: 360px;
        margin-bottom: 20px;
    }

    .submit-post-input-right {
        width: 360px;
    }

    .submit-post-input-left input {
        width: 260px;
    }

    .privacy-policy-block {
        width: 360px;
    }

    .privacy-policy {
        width: 360px;
    }

    .all-categories-block {

        grid-template-columns: repeat(1, 360px);
    }

    .categories {
        margin-bottom: 20px;
        margin-left: 0px;
        /*text-align: center;*/
        display: grid;
        width: 360px;
        justify-content: center;
        text-align: center;
    }

    .create-image-block {
        width: 360px;
    }

    .block-image-input-select {
        margin-bottom: 20px;
    }

    .row-create-image {
        margin-bottom: 0px;
    }

    .row-add-create-image {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .row-create-image {
        width: 360px;
        flex-wrap: wrap;
    }

    .dropdown-profile {
        width: 235px;
    }

    .left-menu {
        width: 360px;
    }

    .content {
        width: 360px;
    }

    .row-img {
        grid-template-columns: repeat(1, 1fr);
        width: 360px;
    }

    .header-main {
        margin-top: 30px;
        /*flex-direction: column-reverse;*/
        display: grid;
        width: 360px;
        /*margin-bottom: 70px;*/
    }

    .tags {
        width: 360px;
    }

    .images {
        width: 360px;
    }

    .header-right {
        width: 360px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 0px;
    }

    .user-image-search-input {
        width: 360px;
    }

    .user-images-panel {
        width: 360px;
    }

    .feedback-block {
        width: 360px;
    }

    .feedback-row {
        width: 100%;
    }

    .feedback-form-block {
        width: 360px;
    }

    .feedback-row input {
        width: 360px;
    }

    .feedback-row textarea {
        max-width: 360px;
        min-width: 360px;
    }
}

@media screen and (max-width: 370px) {
    .container {
        width: 300px;
        justify-content: center;
    }

    .user-profile-text p {
        width: 235px;
        font-size: 16px;
    }

    .slider {
        width: 300px;
        height: 100%;
    }

    .modalDialog > div {
        width: 300px;
        height: 450px;
    }

    .collection-row label {
        font-size: 14px;
    }

    .collection-row input {
        width: 260px;
    }

    .collection-row select {
        width: 260px;
    }

    .advertisement {
        width: 100%;
    }

    .submit-post-input-left input{
        width: 210px;
    }

    .submit-post-input-left>a{
        width: 60px;
    }

    .input-add_collection {
        width: 210px;
        font-size: 16px;
    }

    .input-star {
        width: 60px;
    }

    .more-category-post-left {
        width: 300px;
    }

    .more-info-hover-image {
        width: 300px;
    }

    .more-info-left-block-img {
        width: 300px;
        height: 100%;
    }

    .more-info-right-block-img {
        width: 300px;
    }

    .more-category-post {
        flex-wrap: wrap;
        height: 140px;
        margin-bottom: 20px;
    }

    .submit-post-image {
        width: 300px;
        height: 205px;
    }

    .submit-post-image p {
        text-align: center;
    }

    .privacy-policy-block {
        width: 300px;
    }

    .privacy-policy {
        width: 300px;
    }

    .h1-policy {
        font-size: 28px;
    }

    .content {
        width: 300px;
    }

    .create-image-block {
        width: 300px;
    }

    .block-image-input-select {
        width: 300px;
    }

    .block-image-checkbox {
        width: 300px;
    }

    .block-image-checkbox-input label {
        font-size: 18px;
    }

    .block-image-checkbox-input > input {

    }

    .row-create-image {
        width: 300px;
    }

    .add-image-block {
        width: 300px;
        justify-content: space-between;
    }

    .add-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .add-image-text a {
        text-align: center;
    }

    .add-hover-image>img {
        width: 300px;
    }

    .block-image-input-select small {
        padding: 0px;
    }

    .dropdown-profile {
        width: 175px;
    }

    .categories {
        width: 300px;
        justify-content: center;
    }

    .categories > nav {
        width: 100%;
    }

    .dropdown-profile-content {
        width: 175px;
    }

    .profile h2 {
        width: 140px;
    }

    .row-img {
        grid-template-columns: repeat(1, 300px);
        width: 300px;
    }

    .header-main {
        margin-top: 30px;
        flex-direction: column-reverse;
        width: 300px;
        /*margin-bottom: 70px;*/
    }

    .language {
        margin-left: 5px;
    }

    .left-menu, .hover-image, .search-input, .images, .footer-left-menu, .site-information {
        width: 300px;
    }

    .tags {
        width: 300px;
    }

    .header-right {
        width: 300px;
        display: flex;
        align-items: center;
    }

    .user-image-search-input {
        width: 300px;
    }

    .user-images-panel {
        width: 300px;
    }

    .feedback-block {
        width: 300px;
    }

    .feedback-row {
        width: 100%;
    }

    .feedback-form-block {
        width: 300px;
    }

    .feedback-row input {
        width: 300px;
    }

    .feedback-row textarea {
        max-width: 300px;
        min-width: 300px;
    }
}
