/*body {*/
/*  color: #222;*/
/*  background: #fff;*/
/*}*/
/*a.dark-theme {*/
/*  color: #eee;*/
/*}*/

/*!* Стили Тёмной темы *!*/
/*body.dark-theme {*/
/*  color: #eee;*/
/*  background: #121212;*/
/*}*/

/*.color-theme {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  background: #121212;*/
/*  border: 2px solid #121212;*/
/*  border-radius: 50%;*/
/*}*/

/*input.dark-theme {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  background: #fff;*/
/*  border: 2px solid #fff;*/
/*  border-radius: 50%;*/
/*}*/

/*.pad-right-15 {*/
/*  padding-right: 15px;*/
/*}*/

/*Смена заднего фона*/
.wrapper {
  width: 110px;
  background-color: #c34131;
  padding: 10px;
  border-radius: 0 15px 15px 0;
  text-align: center;
  position: fixed;
  left: -100px;
  transition: 0.7s all;

}

.wrapper::after {
  content: '';

}

.cog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 25px;
  right: -35px;
  background-color: #c34131;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.cog img {
  animation: rotate 3s infinite linear;
}

.wrapper:hover {
  left: 0;
  transition: 0.7s all;
}

@keyframes rotate {
  from {transform: rotate(0);}
  to {transform: rotate(180deg);}
}

.title {
  display: inline-block;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  margin: 0 0 10px 0;
}

.colors_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.colors_list div {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.7s;
}

.colors_list div:hover {

  transform: scale(1.2);
}

.colors_list div:nth-last-child(1) {
  margin-bottom: 0px;
}

.colors_list div:nth-last-child(2) {
  margin-bottom: 0px;
}

.black {
  background-color: #1e1e1e;
}

.white {
  background-color: #fff;
}

.text {
  text-align: center;
  font-size: 24px;
}
/*----Конец смена фона----*/

body {
  background: url(assets/images/backimg.jpg);
  /*height: 500px;*/
  background-size: cover;
}